{% extends"bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<h1>{{ test_name }}</h1>

<script type="text/javascript">

function codeAddress()
        {
            document.getElementById(1).style.display="block";
        }
        window.onload = codeAddress;


function showquestions(hh, questions)
{
    for (let i = 1; i <= questions; i++) {
         document.getElementById(i).style.display="none";
    }
    document.getElementById(hh).style.display="block";
}

function buttright(questions)
{
    for (let i = 1; i <= questions; i++) {

        if(document.getElementById(i).style.display == 'block')
                    {
                        let yy = i;
                        document.getElementById(i).style.display="none";

                        yy = Number(yy) + 1;
                        if (yy > questions)
                        {
                            yy = questions;
                        }
                        document.getElementById(yy).style.display="block";
                        break;
                    }

    }
}




function buttleft(questions)
{

    for (let i = 1; i <= questions; i++) {

        if(document.getElementById(i).style.display == 'block')
                    {
                        let yy = i;
                        document.getElementById(i).style.display="none";

                        yy = Number(yy) - 1;
                        if (yy == 0)
                        {
                            yy = 1;
                        }
                        document.getElementById(yy).style.display="block";
                        break;
                    }

    }
}

function timeNow(){

 var time = Number(Date.now())
 return time

}

function checkInputs(form){
    var questList = [];
    var answList = [];
    var questions = document.getElementsByTagName('ul');

    for(var i=0; i<questions.length; i++){
        answers = questions[i].getElementsByTagName('input');
        for(var j=0; j<answers.length; j++){
            if(answers[j].checked){
                answList.push(answers[j].id);
            }
        }
        if(answList.length > 0){
            questList.push(questions[i]);
        }
        answList = [];
    }
    if(questList.length == 0){
        alert('Введите ответ в поле');
    var questList = [];
    return false;
    }
    else if(questList.length < questions.length){
        alert('Введите ответ в поле');
    var questList = [];
    return false;
    }
    else {
        document.getElementById("attempt").submit()
        return true;
    }
}

</script>

<style>

label
    {
        max-width:95%;
        vertical-align:top;
    }
input
    {
        vertical-align:top;
    }

#buttq
        {
                background-color: #000;
                border: none;
                color: white;
                width: 300px;
                height: 50px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 30px;
                cursor: pointer;

                position: absolute;
                left: 50%;
                top: 90%;
                -webkit-transform: translate(-50%, -90%);
                -moz-transform: translate(-50%, -90%);
                -ms-transform: translate(-50%, -90%);
                -o-transform: translate(-50%, -90%);
                transform: translate(-50%, -90%);
        }

#contentbutt
        {
                border: 1px solid black;
                width: 1000px;
                height: 70px;
        }
#buttqnumb
        {



                position: absolute;
                left: 50%;
                top: 20%;
                -webkit-transform: translate(-50%, -20%);
                -moz-transform: translate(-50%, -20%);
                -ms-transform: translate(-50%, -20%);
                -o-transform: translate(-50%, -20%);
                transform: translate(-50%, -20%);
        }
#namequestions
            {
                text-decoration: none;
                display: inline-block;
                font-size: 26px;

                position: absolute;
                left: 50%;
                top: 30%;
                -webkit-transform: translate(-50%, -30%);
                -moz-transform: translate(-50%, -30%);
                -ms-transform: translate(-50%, -30%);
                -o-transform: translate(-50%, -30%);
                transform: translate(-50%, -30%);
            }
#formquestions
            {

                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
#content
        {
                width: 1000px;
                height: 600px;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        }
#questions
        {
                border: 1px solid black;
                width: 800px;
                height: 300px;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        }




#buttleft
        {

            position: absolute;
            left: 10%;
            top: 90%;
            -webkit-transform: translate(-10%, -90%);
            -moz-transform: translate(-10%, -90%);
            -ms-transform: translate(-10%, -90%);
            -o-transform: translate(-10%, -90%);
            transform: translate(-10%, -90%);
        }

#buttright
{
    position: absolute;
    left: 90%;
    top: 90%;
    -webkit-transform: translate(-90%, -90%);
    -moz-transform: translate(-90%, -90%);
    -ms-transform: translate(-90%, -90%);
    -o-transform: translate(-90%, -90%);
    transform: translate(-90%, -90%);
}




</style>


<div id="content">

                    <div id="buttqnumb">
                                {% for item in questions %}
                                <input
                                style="
                                background-color: #000;
                                border: none;
                                color: white;
                                width: 30px;
                                height: 30px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 12px;
                                cursor: pointer;"
                                onclick="showquestions('{{loop.index}}', '{{ questions|length }}')" type="submit" value="{{loop.index}}">
                                {% endfor %}
                    </div>

                    <div id="questions">

                                            <input
                                                    id="buttleft"
                                            style="
                                            background-color: #000;
                                            border: none;
                                            color: white;
                                            width: 50px;
                                            height: 50px;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            font-size: 12px;
                                            cursor: pointer;"
                                            onclick="buttleft('{{ questions|length }}')" type="submit" value="ᐊ">



                                                        <form id="attempt" action="" method="POST" name="answer">
                                                                        {{ form.hidden_tag() }}
                                                                            {% for item in questions %}

                                                                            <div id="{{ loop.index }}" style="display: none;">
                                                                                <div id="namequestions"> {{ item[1] }} </div>
                                                                                <div id="formquestions" >{{ form.field_answer(id=item[0]) }}</div>
                                                                            </div>

                                                                            {% endfor %}
                                                                            {{ endtime }}


                                                            <input id="buttq" type="submit" value="Отправить">
                                                        </form>




                                            <input
                                                    id="buttright"
                                            style="
                                            background-color: #000;
                                            border: none;
                                            color: white;
                                            width: 50px;
                                            height: 50px;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            font-size: 12px;
                                            cursor: pointer;"
                                            onclick="buttright('{{ questions|length }}')" type="submit" value="ᐅ">

                    </div>
</div>

{% endblock %}