<!-- extend base layout -->
{% extends"bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">
<h1>Тестирование</h1>

<form action="" method="POST" name="topic">
        <p>
        Выбери испытание:<br>
        {{ form.topic() }}<br>
    </p>
    <p>
        Выбери подтему:<br>
        {{ form.subtopic() }}

    </p>
    <p>Количество: {{  form.num_of_questions() }}</p>
    <p>Время: {{ form.time() }} мин.</p>
    <p>
        <input type="submit" value="Начать">
    </p>
</form>
</div>
<hr>

{% endblock %}